*{
  font-family: 'Quicksand', sans-serif;
}
header{
  margin-top: 50px;
  height: 100px;
  color: black;
}
.imagen
{
  height: 850px;
  display:flex;
}
.btnLgRegistro{
  background-color: #f7b617;
}
.registro{
  height: 550px;
}
.registroJum{
  margin-left: -350px;
  display: inline-block;
  margin-top: 130px;
  color: white;
  background-color: #f7b617;
}
.seConductorBtn{
  margin-left: -350px;
  display: inline-block;
  color: white;
  background-color: #333333;
}

.btnRegistro{
  background-color: white;
  color: black;
  border: none;
}
.app{
  background-color: #f7b617;
  color: white;
  height: 550px;
}
.descripcionApp{
    margin-top: 70px;
    border: 1px solid white;
    max-height: 100%;
}
.margenSuperior{
  margin-top: 70px;
}
.margenLateral{
  margin-left: 70px;

}
.seConductor{
  color: black;
  height: 850px;
}
.bienvenida{
  height: 300px;
}
.tarifas{
  background-color: #f7b617;
  color: white;
  height: 550px;
}
.icono{
  background: none;
  border: none;
}
.margenIcono{
  margin-top: 10px;
}
footer{
  background-color: #333333;

}
.lineaFooter{
  color: white;
}
.contacto
{
  color: white;
}
